.diary_preview.row
  = link_to diary_path(diary) do
    %li= l diary.date
    .row
      = truncate(diary.body, length: 80)
    - if diary.sentiment
      .row
        = "Sentiment rating: #{(diary.sentiment * 100).round}%"
