= simple_form_for Diary.new, remote: true do |f|
  .row
    = f.label "DATE"
    = f.date_field :date, value: Date.today
  .row
    .diary_form_body= f.input :body, label: false
  .row
    .button#sleeplog_button= f.submit
