.diaries_stuff.top_of_diaries
  %a{"data-reveal-id" => "myModal", :href => "#"} ADD A NEW DIARY ENTRY
  #myModal.reveal-modal{"aria-hidden" => "true", "aria-labelledby" => "modalTitle", "data-reveal" => "", :role => "dialog"}
    = render 'new'
    %a.close-reveal-modal{"aria-label" => "Close"} &#215;
  .all_diaries= link_to "See All Diary Entries", diaries_path
.search_div
  = form_tag(diaries_path, method: :get, id: "search-form") do
    = text_field_tag :diary_body_search, params[:diary_body_search], placeholder: "Search by Keywords"


.sort_div
  - if params[:order] == "date"
    = link_to "Sort by Date", diaries_path(order: "reverse_date")
  - else
    = link_to "Sort by Date", diaries_path(order: "date")
  .sentiment_sort
    - if params[:order] == "sentiment"
      = link_to "Sort by Sentiment", diaries_path(order: "reverse_sentiment")
    - else
      = link_to "Sort by Sentiment", diaries_path(order: "sentiment")
.row
  .small-11.columns.diaries_content= render @diaries
