.diary
  %p= @diary.date
  %p= @diary.body
  -if @diary.sentiment
    %p= "Sentiment: #{@diary.sentiment*100}%"
  -else
    %button.sentiment_button= button_to "Calculate Sentiment", edit_diary_path(@diary), remote: true
