= simple_form_for [@reminder, @user_reminder], remote: true do |f|
  .row
    %p= f.input :user_id, as: :hidden, input_html: { value: current_user.id }
  .row
    %p= f.input :reminder_id, as: :hidden, input_html: { value: @reminder.id }
  .row
    = f.label :time
    %p= f.time_field :time
  .row
    = f.input :weekend_disable, checked_value: true, unchecked_value: false
    .button= f.submit
