= simple_form_for [@reminder, @user_reminder], remote: true do |f|
  = f.input :user_id, as: :hidden, input_html: { value: current_user.id }
  = f.input :reminder_id, as: :hidden, input_html: { value: @reminder.id }
  = f.label :time
  = f.time_field :time
  = f.input :weekend_disable, checked_value: true, unchecked_value: false
  .button.user_reminder_button= f.submit
