= simple_form_for [@reminder, @user_reminder], remote: true do |f|
  %p= f.input :user_id, as: :hidden, input_html: { value: current_user.id }
  %p= f.input :reminder_id, as: :hidden, input_html: { value: @reminder.id }
  %p= f.input :time
  %p= f.input :weekend_disable, checked_value: true, unchecked_value: false
  %p= f.submit
