#todo
  = simple_form_for @todo, remote: true do |f|
    .row
      %p= f.input :title
    .row
      %p= f.input :due, as: :date,
                      start_year: Time.now.year - 1,
                      end_year: Time.now.year,
                      start_month: Time.now.month - 1,
                      end_month: Time.now.month,
                      order: [:month, :day, :year]
    .row
      %p= f.input :completed, as: :boolean, checked_value: true, unchecked_value: false
      %p= f.input :starred, as: :boolean, checked_value: true, unchecked_value: false
      %p= f.submit
