#todo
  = simple_form_for @todo, remote: true do |f|
    .row
      .columns.small-12.medium-8= f.input :title
    .row
      .columns.small-12.medium-8= f.date_field :due
    .row
      .columns.small-12.medium-4= f.input :completed, as: :boolean, checked_value: true, unchecked_value: false
      .columns.small-12.medium-4.end= f.input :starred, as: :boolean, checked_value: true, unchecked_value: false
    .button.create_todo_button= f.submit
