.row
  #sleeplog
    = simple_form_for Sleeplog.new, remote: true do |f|
      %ul.small-block-grid-2
        %li= f.label :date, "DATE"
        %li= f.label :in_bed_time, "IN BED TIME"
        %li.date= f.date_field :date, label: "DATE", value: Date.today - 1, label: false
        %li.time= f.time_field :in_bed_time, include_blank: true, label: false

        %li= f.label :hours, "HOURS SLEPT"
        %li= f.label :fall_asleep_time, "FALL ASLEEP TIME"
        %li.hours= f.input :hours, collection: 0..16, label: false
        %li= f.time_field :fall_asleep_time, include_blank: true, label: false

        %li= f.label :quality, "QUALITY"
        %li= f.label :wake_up_time, "WAKE UP TIME"
        %li.quality= f.input :quality, collection: %w{Great Good Average OK Bad}, label: false
        %li.time= f.time_field :wake_up_time, include_blank: true, label: false

        %li= f.input :sleeping_pill, as: :boolean, checked_value: true, label: "SLEEPING PILL?", unchecked_value: false

      .notes= f.input :notes, as: :text, label: false, placeholder: "NOTES"
      #sleeplog_button_div
        .button#sleeplog_button= f.submit
