.row
  = "Date: #{l sleeplog.date}"
  = "Hours #{sleeplog.hours}"
  - unless sleeplog.quality.blank?
    = "Quality: #{sleeplog.quality}"
  - unless sleeplog.notes.blank?
    = "Notes: #{sleeplog.notes}"
  - if sleeplog.in_bed_time
    = "Went to bed at #{l sleeplog.in_bed_time}"
  - if sleeplog.fall_asleep_time
    = "Fell asleep at #{l sleeplog.fall_asleep_time}"
  - if sleeplog.wake_up_time
    = "Woke up at #{l sleeplog.wake_up_time}"
  - if sleeplog.sleeping_pill
    = sleeplog.sleeping_pill
  - if Diary.where(user: current_user, date: sleeplog.date).present?
    - Diary.where(user: current_user, date: sleeplog.date).each_with_index do |diary, index|
      %p= link_to "Diary sentiment: #{(diary.sentiment * 100).round}%", diary_path(diary)
