.single_sleeplog{ id: "sleeplog_id_#{sleeplog.id}" }
  .sleeplog_table
    .row.headers
      .small-6.columns.hours= "#{sleeplog.hours} HOURS"
      .small-6.columns.date= "#{l sleeplog.date}"
    .row.titles
      .small-3.columns WENT TO BED
      .small-3.columns FELL ASLEEP
      .small-3.columns WOKE UP
      .small-3.columns SLEEPING PILL
    .row.info
      - if sleeplog.in_bed_time
        .small-3.columns= l sleeplog.in_bed_time
      - else
        .small-3.columns --:--
      - if sleeplog.fall_asleep_time
        .small-3.columns= l sleeplog.fall_asleep_time
      - else
        .small-3.columns --:--
      - if sleeplog.wake_up_time
        .small-3.columns= l sleeplog.wake_up_time
      - else
        .small-3.columns --:--
      - if sleeplog.sleeping_pill == true
        .small-3.columns YES
      - else
        .small-3.columns NO

    .extra_info
      - unless sleeplog.quality.blank?
        = "Quality: #{sleeplog.quality}"
      - unless sleeplog.notes.blank?
        = "Notes: #{sleeplog.notes}"

      - if Diary.where(user: current_user, date: sleeplog.date).present?
        - Diary.where(user: current_user, date: sleeplog.date).each_with_index do |diary, index|
          %p= link_to "Diary entry mood: #{(diary.sentiment * 100).round}%", diary_path(diary)
