= "Date #{sleeplog.date}"
= "Hours #{sleeplog.hours}"
- if sleeplog.quality
  = "Quality #{sleeplog.quality}"
- if sleeplog.notes
  = "Notes #{sleeplog.notes}"
- if sleeplog.in_bed_time
  = "Went to bed at #{sleeplog.in_bed_time}"
- if sleeplog.fall_asleep_time
  = sleeplog.fall_asleep_time
- if sleeplog.wake_up_time
  = sleeplog.wake_up_time
- if sleeplog.sleeping_pill
  = sleeplog.sleeping_pill
