= javascript_include_tag "//www.google.com/jsapi", "chartkick"
.row
  %h1.small-11.small-offset-1.columns Sleeplogs
.row
  .small-11.small-offset-1.columns#sleeplog-chart= column_chart Sleeplog.order(:date).group(:date).sum(:hours), discrete: true, xtitle: "Date", ytitle: "Hours of Sleep"

.row
  .small-11.small-offset-1.columns#sleeplogs= link_to "Add Sleeplog", new_sleeplog_path, remote: true
.row
  .small-11.small-offset-1.columns#sleeplog-form
.row
  .small-11.small-offset-1.columns#sleeplogs-links= link_to "Show Sleeplogs"
.row
  .small-11.small-offset-1.columns#sleeplogs-content= render @sleeplogs
