= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
  = f.error_notification
  .row
    = f.input :first_name, required: true, autofocus: true, label: false, placeholder: "First Name"
  .row
    = f.input :last_name, required: true, autofocus: true, label: false, placeholder: "Last Name"
  .row
    = f.input :phone, required: true, autofocus: true, label: false, placeholder: "Phone Number"
  .row
    = f.input :email, required: true, autofocus: true, label: false, placeholder: "Email"
  .row
    = f.input :password, required: true, hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length), label: false, placeholder: "Password"
  .row
    = f.input :password_confirmation, required: true, label: false, placeholder: "Password Confirmation"
  .row
    .inherit.button= f.submit "SIGN UP"
  .row
    #bottom_right_sign_in= link_to "SIGN IN"
