!!!
%html{:lang => "en"}
  %head
    %meta{:charset => "utf-8"}/
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}/
    %title= content_for?(:title) ? yield(:title) : "Sleeptracker"
    = stylesheet_link_tag    "application"
    = javascript_include_tag "vendor/modernizr"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body



  - if controller_name == "welcome"
    .welcome.small-12.medium-6.columns
      #welcome-text
        #welcome-title INSOMNIAPP
        #welcome-description A Cognitive-Behavioral Therapy Tool to Help You Sleep
        #app-info
          %p Cognitive-Behavioral Therapy is a technique that has been used to treat depression, anxiety and, lately, insomnia. CBT recognizes that our thoughts, emotions and behaviors interact in ways that can negatively or positively reinforce each other. InsomniApp was designed with those techniques in mind to help users sleep better at night.
          -# %p InsomniApp allows you to positively affect your thoughts and mood by writing in the app's diary and recording your to-do lists. It also allows you to set reminders for better behavior, such as when to have your last cup of coffee for day. Finally, it allows you to track your sleep and see your improvement.
    .login.small-12.medium-4.columns
      #partial
        #login-partial= render 'layouts/login'
        #signup-partial= render 'layouts/signup'



  - else
    = render 'layouts/navbar'
    = render 'layouts/sidebar'
    .row
      .flashes
        %p.notice= notice
        %p.alert= alert
      .columns.small-12.medium-7.large-8= yield
